// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: rgb(62,120,216);

body {
  background: $blue;
}

.container {
  width: 900px;
  margin: auto;
  padding: 80px;
}
